@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
/* header starts here */

.header {
  height: 12vh;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 160px;
}
.header .navContainer a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 0px 20px;
}
.header .navContainer a:hover {
  color: #707070;
}
.logo img {
  height: 50px;
}
/* header ends here */

/* page 1 starts here */
.page1 {
  display: flex;
  height: 75vh;
  align-items: center;
  background-image: url("./assets/images/background.png");
  justify-content: center;
  padding: 40px 20px;
}
.heading{
  font-size: 40px;
  justify-content: center;
  text-align: center;
   max-width: 700px;
   width: 100%;
}
h1{
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #2d2d2d;
  text-align: center;
}

.form{
  margin-bottom: 20px;
}
.btn{
  width: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #ffd54f 0%, #ffca28 100%);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #2d2d2d;
  cursor: pointer;
  margin-top: 30px;
}